<table class="table table-hover table-bordered standings_table" id="standings_full">
  <thead>
    <tr class="table_top">
      <th>
        <span>Team</span> /
        <span>Owner</span>
      </th>
      <th class="secondColumn">Points</th>
      <% (-@md_count..-1).each do |n|%>
      <th class="th_match" colspan="2">
        <%= -n %>
      </th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @seasontotals.each do |u|%>
    <tr>
      <td class="team_cell" title="<%=u.fname%> <%=u.lname%>">
        <%= u.team_name%>
      </td>
      <td class="secondColumn">
        <%= u.picks.sum(:points) %>
      </td>
      <% u.picks.first(@md_count).reverse.each do |t|%>
        <% unless @unlocked_mds.include? t.matchday%>
      <td>
          <%= t.team_id %>
      </td>
      <td class="pt_cell">
          <%= t.points%>
      </td>
        <%else%>
      <td></td>
      <td></td>
        <%end%>
      <%end%>
    </tr>
    <%end%>
  </tbody>
</table>