<div class="page_container">

<h2>My Picks</h2>
<%=@avail_teams%>
<div class="">

</div>
<%=@pickteams%>

<table class="firsthalf_table">
<tr class="mypicks_top">
  <th></th>
  <th>Pick</th>
  <th>Opp</th>
  <th>Result</th>
</tr>
<%(1..19).each do |n|%>
<tr class="mypicks_line">
  <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
  <td><%= n %></td>
  <td>
    <%= simple_form_for(this_pick) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id, :required => true %>
    <%= f.hidden_field :matchday, :value => n, :required => true %>
    <%= f.input :team_id, as: :select,label: false, collection: @pickteams.sort, :disabled => @user_picks %>
    <% end %>
  </td>
  <td>Yo</td>
  <td>Yo</td>
</tr>
<% end %>



</table>
<table class="sechalf_table">
  <tr class="mypicks_top">
    <th></th>
    <th>Pick</th>
    <th>Opp</th>
    <th>Result</th>
  </tr>
  <%(20..38).each do |n|%>
  <tr class="mypicks_line">
    <td><%= n %></td>
    <td>2nd</td>
    <td>2nd</td>
    <td>2nd</td>
  </tr>
  <% end %>
</table>





</div>
<script type="text/javascript">
$(document).ready(function() {
  $('.select.optional').change(function() {
    $(this).closest('form').submit();

  });
})

</script>
