<div class="page_container">
  <h2 class="page_header" >My Picks</h2>
  <div class="mp_container" id="mp_cont_1h" <% if (@md_count > 19) %>style="display:none;"<%end%>>
    <div class="mp_col1">
    <%(1..19).each do |n|%>
      <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
      <div class="mp_col1_unit">
        <span class="mp_mdcount"><%= n %></span>
        <div class="mp_form">
        <%if @md_count>= n %>
          <span class="picked_span"><%=this_pick.team_id%></span>
        <%else%>
          <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
          <%= simple_form_for(this_pick) do |f| %>
          <%= f.input :team_id, as: :select,label: false, include_blank: true, collection: @pickteams.sort, :disabled => @user_picks %>
          <%end%>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="mp_matches">
  <%@matches.first(190).each_slice(10) do |slice|%>
      <div class="mp_matchday ">
    <% slice.each_slice(5) do |r| %>
        <div class="mp_match_row ">
          <% r.each do |m|%>
            <div class="mp_match">
              <div class="mp_match_gr">
                <%hometeam = @teamcodes[0].fetch(m['homeTeam']['id'].to_s)%>
                <%awayteam = @teamcodes[0].fetch(m['awayTeam']['id'].to_s)%>
                <span class="hteam"><%=hometeam['code']%></span>
                <img class="himage" src="<%=hometeam['crestURI']%>" alt="Home Logo">
                <span class="score_span">
                <%if m['status'] == 'FINISHED'%>
                <%=m['score']['fullTime']['homeTeam']%>:<%=m['score']['fullTime']['awayTeam']%>
                <%else%>
                vs.
                <%end%>
                </span>
                <img class="aimage" src="<%=awayteam['crestURI']%>" alt="Away Logo">
                <span class="ateam"><%=awayteam['code']%></span>
              </div>
            </div>
          <%end%>
        </div>
    <%end%>
      </div>
  <%end%>
    </div>
  </div>
  <div class="mp_container" id="mp_cont_2h" <% if (@md_count < 20) %>style="display:none;"<%end%>>
    <div class="mp_col1">
      <%(20..38).each do |n|%>
      <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
      <div class="mp_col1_unit">
        <span class="mp_mdcount">
          <%= n %></span>
        <div class="mp_form">
          <%if @md_count>= n %>
          <span class="picked_span">
            <%=this_pick.team_id%></span>
          <%else%>
          <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
          <%= simple_form_for(this_pick) do |f| %>
          <%= f.input :team_id, as: :select,label: false, include_blank: true, collection: @pickteams.sort, :disabled => @user_picks %>
          <%end%>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="mp_matches">
      <%@matches.last(190).each_slice(10) do |slice|%>
      <div class="mp_matchday ">
        <% slice.each_slice(5) do |r| %>
        <div class="mp_match_row ">
          <% r.each do |m|%>
          <div class="mp_match">
            <div class="mp_match_gr">
              <%hometeam = @teamcodes[0].fetch(m['homeTeam']['id'].to_s)%>
              <%awayteam = @teamcodes[0].fetch(m['awayTeam']['id'].to_s)%>
              <span class="hteam">
                <%=hometeam['code']%></span>
              <img class="himage" src="<%=hometeam['crestURI']%>" alt="Home Logo">
              <span class="score_span">
                <%if m['status'] == 'FINISHED'%>
                <%=m['score']['fullTime']['homeTeam']%>:
                <%=m['score']['fullTime']['awayTeam']%>
                <%else%>
                vs.
                <%end%>
              </span>
              <img class="aimage" src="<%=awayteam['crestURI']%>" alt="Away Logo">
              <span class="ateam">
                <%=awayteam['code']%></span>
            </div>
          </div>
          <%end%>
        </div>
        <%end%>
      </div>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.select.optional').change(function() {
    $(this).closest('form').submit();

  });
})
</script>
