<div class="page_container">

  <h2>My Picks</h2>

  <div class="mp_container">
    <div class="mp_col1">
  <%(1..19).each do |n|%>
  <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
      <div class="mp_col1_unit">
        <span class="mp_mdcount"><%= n %></span>
        <div class="mp_form">
        <!-- <#%if @md_count>= n %> -->
          <!-- <#%=this_pick.team_id%> -->
        <!-- <#%else%> -->
          <%this_pick = Pick.where(user_id: current_user.id, matchday: n)[0]%>
          <%= simple_form_for(this_pick) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id, :required => true %>
          <%= f.hidden_field :matchday, :value => n, :required => true %>
          <%= f.input :team_id, as: :select,label: false, include_blank: true, collection: @pickteams.sort, :disabled => @user_picks %>
          <%end%>
        <!-- <#% end %> -->
        </div>
      </div>
  <% end %>
  </div>
  <div class="mp_matches">
<%@matches.first(190).each_slice(10) do |slice|%>
    <div class="mp_matchday">
  <% slice.each do |m| %>
      <div class="mp_match">
        <%=@teamcodes[0].fetch(m['homeTeam']['id'].to_s)['code']%>
        <%if m['status'] == 'FINISHED'%>
        <%=m['score']['fullTime']['homeTeam']%>
        <%else%>
        vs.
        <%end%>
        <%=@teamcodes[0].fetch(m['awayTeam']['id'].to_s)['code']%>
        <%if m['status'] == 'FINISHED'%>
        <%=m['score']['fullTime']['awayTeam']%>
        <%end%>
      </div>
  <%end%>
    </div>
<%end%>
  </div>



  </div>
</div>




<script type="text/javascript">
$(document).ready(function() {
  $('.select.optional').change(function() {
    $(this).closest('form').submit();

  });
})

</script>
