<div class="page_container">
<h2 class="page_header">Standings</h2>
<div class="table-responsive table_container">
  <table class="table table-hover table-bordered standings_table" id="standings_first">
    <thead>
      <tr class="table_top">
        <th>
        <span>Team</span> / 
        <span>Owner</span>
        </th>
        <th class="secondColumn">Points</th>
        <% (-@md_count..-1).each do |n|%>
        <th class="th_match" colspan="2"><%= -n %></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @allusers.each do |u|%>
      <tr>
      <td class="team_cell" title="<%=u.fname%> <%=u.lname%>"><%= u.team_name%></td>
      <td class="secondColumn" ><%= Pick.where(:user_id => u.id ).sum(:points) %></td>
      <% Pick.where(:user_id => u.id).order('matchday asc').first(@md_count).reverse.each do |t|%>
      <td><%= t.team_id %></td>
      <td class="pt_cell"><%= t.points%></td>
      <%end%>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
</div>
<script type="text/javascript">
highlightCells();
teamOrName();
  var tableContainer = document.getElementsByClassName('table_container')[0];
  tableContainer.onLoad = setSecondColumn();
  $(function () {
    $(window).resize(function () {
      setSecondColumn();
    });
  });
</script>
