<div class="page_container">
  <h2>EPL Schedule</h2>
<% @counter = 1%>
<div class="all_matchdays_container">
<%@matches.each_slice(10) do |slice|%>
    <div class="matchday_container">
      <!-- <div class="match_header"> -->
        <!-- <h3> -->
          <%=@counter%>
        <!-- </h3> -->
      <!-- </div> -->
      <div class="matches">
        <% slice.each do |m| %>
        <div class="match_box">
          <!-- <div class="score_line">
            <div class="match_team"><%=m['homeTeam']['name']%></div>
            <%if m['status'] == 'FINISHED'%>
            <div class="match_score"><%=m['score']['fullTime']['homeTeam']%></div>
            <%else%>
            <div class="match_score"><%#=Date.parse(m['utcDate']).strftime("%F")%></div>
            <%end%>
          </div>
          <br>
          <div class="score_line">
          <div class="match_team"><%=m['awayTeam']['name']%></div>
            <%if m['status'] == 'FINISHED'%>
            <div class="match_score"><%=m['score']['fullTime']['awayTeam']%></div>
            <%end%>
          </div> -->
        </div>
        <% end %>
      </div>
    </div>
  <%@counter+= 1%>
  <% end %>
  </div>
</div>
