<h2>EPL Schedule</h2>

<%#=@allteams[0]%>
<div class="page_container">
<% @counter = 1%>
<%@matches.each_slice(10) do |slice|%>
  <div class="matchday_container">
    <div class="match_header">
      <h3>Matchday <%=@counter%></h1>
    </div>
    <div class="matches">
      <% slice.each do |m| %>
      <div class="match_box">
        <div class="score_line">
          <div class="match_team"><%=@allteams[0].fetch(m['homeTeam']['id'].to_s)['short']%></div>
          <%if m['status'] == 'FINISHED'%>
          <div class="match_score"><%=m['result']['goalsHomeTeam']%></div>
          <%else%>
          <div class="match_score"><%=Date.parse(m['utcDate']).strftime("%F")%></div>
          <%end%>
        </div>
        <br>
        <div class="score_line">
        <div class="match_team"><%=@allteams[0].fetch(m['awayTeam']['id'].to_s)['short']%></div>
          <%if m['status'] == 'FINISHED'%>
          <div class="match_score"><%=m['score']['fullTime']['awayTeam']%></div>
          <%end%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<%@counter+= 1%>
<% end %>

</div>
