<!DOCTYPE html>
<html>
  <head>
    <title>Prempicks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://use.fontawesome.com/6b64edde02.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,900i" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('football-soccer-ball-48-183228.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>

    <nav class="navbar">
      <% if user_signed_in? %>
        <%= link_to 'Standings', standings_path, :class => "nav_top" %>
        <%= link_to 'My Picks', mypicks_path %>
        <div class="dropdown">
          <button class="dropbtn">EPL</button>
          <div class="drop-cont">
            <%= link_to('EPL Table', epl_table_path) %>
            <%= render "epldata/matchday_link" %>
          </div>
        </div>
        <%= link_to 'Rules', rules_path %>
      <% else %>
      <%= link_to('Sign in', new_user_session_path) %>
      <button class="dummy_btn">Sign Up</button>
      <!-- <%#= link_to_('Sign up', new_user_registration_path) %> -->
      <% end %>
      <% if user_signed_in? %>
      <span class="nav_title">Prem Picks</span>
      <%end%>
      <button class="ex_button">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </button>
      <!-- <div class="nav_right"> -->
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "nav_right" %>
        <%= link_to 'My Account', edit_user_registration_path, :class => "nav_right" %>
      <% end %>
      <!-- </div> -->
    </nav>
    <div class="nav_msg">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>


    <%= yield %>
  </body>
  <script type="text/javascript">
  function showLinks(){
    if($(window).width() > 480){
      $('.navbar').children("a").show();
    }
  }
  function showTitle(){
    if($(window).width() >= 620){
      $('.nav_title').show();
    }else if ($(window).width() > 480) {
      $('.nav_title').hide();
    }else{
      $('.nav_title').show();
    }
  };

  $(document).ready(function() {
    $('.ex_button').click(function() {
      $('.navbar').children("a").toggle();
    })
    showLinks();
    showTitle();
  })
  $( window ).resize(function() {
       showLinks();
       showTitle();
  });
  </script>
</html>
