<!DOCTYPE html>
<html>
  <head>
    <title>Prempicks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://use.fontawesome.com/6b64edde02.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,900i" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('football-soccer-ball-48-183228.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>

    <div class="navbar">
      <% if user_signed_in? %>
        <%= link_to 'Standings', standings_path %>
        <%= link_to 'My Picks', mypicks_path %>
        <div class="dropdown">
          <button class="dropbtn">EPL</button>
          <div class="drop-cont">
            <%= link_to('EPL Table', epl_table_path) %>
            <%= render "epldata/matchday_link" %>
          </div>
        </div>
        <%= link_to 'Rules', rules_path %>
      <% else %>
      <%= link_to('Sign in', new_user_session_path) %>
      <button class="dummy_btn">Sign Up</button>
      <!-- <%#= link_to_('Sign up', new_user_registration_path) %> -->
      <% end %>
      <% if user_signed_in? %>
      <div class="nav_title">Prem Picks</div>
      <%end%>
      <div class="nav_right">
      <% if user_signed_in? %>
        <%= link_to('My Account', edit_user_registration_path) %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% end %>
      </div>
    </div>
    <div class="nav_msg">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
