<!DOCTYPE html>
<html>
  <head>
    <title>Prempicks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://use.fontawesome.com/6b64edde02.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,900i" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('football-soccer-ball-48-183228.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

<body onload="flashMessage()">

    <%= render 'layouts/navbar'%>
    <%= render 'layouts/flash'%>


    <%= yield %>
  </body>
  <script type="text/javascript">
  // function showLinks(){
  //   if($(window).width() > 480){
  //     $('.navbar').children("a").show();
  //   }
  // }
  // function showTitle(){
  //   if($(window).width() >= 620){
  //     $('.nav_title').show();
  //   }else if ($(window).width() > 480) {
  //     $('.nav_title').hide();
  //   }else{
  //     $('.nav_title').show();
  //   }
  // };
  function flashMessage(){
    $(".messages").delay(70000).hide();
  }
  // $(document).ready(function() {
  //   $('.ex_button').click(function() {
  //     $('.navbar').children("a").toggle();
  //   })
  //   showLinks();
  //   showTitle();
  // });
// $(document).ready(function() {
// $(".messages").show().delay(150000).hide();
// });

  // $( window ).resize(function() {
  //      showLinks();
  //      showTitle();
  // });
  </script>
</html>
