<!DOCTYPE html>
<html>
  <head>
    <title>Prempicks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,900i" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('football-soccer-ball-48-183228.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="navbar">
      <% if user_signed_in? %>
        <%= link_to 'Standings', standings_path %>
        <%= link_to 'My Picks', mypicks_path %>
        <div class="dropdown">
          <button class="dropbtn">EPL</button>
          <div class="drop-cont">
            <%= link_to('EPL Table', epl_table_path) %>
            <%= link_to('Schedule', epl_sched_path) %>
          </div>
        </div>
        <%= link_to('My Account', edit_user_registration_path) %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

      <% else %>
      <%= link_to('Sign in', new_user_session_path) %>
      <%= link_to('Sign up', new_user_registration_path) %>
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
